@inherits NavTreeViewNodeModel

<ul class="tree-view__node"
    data-test-selector="tree-node"
    data-test-id="@Node.Id">

    <li class="tree-view__node-item"
        role="presentation"
        data-selector="@Node.Id">

        <NavLink class="@GetNavLinkClass()"
                 href="@GetNodeHref()"
                 aria-expanded="@GetAriaExpanded()"
                 @onclick="HandleClickOfNode"
                 data-selector="tree-node-link">

            @if (IsParentNode)
            {
                <span class="tree-view__node-icon --clickable @GetExpandedIconClass()"
                      aria-hidden="true"></span>
            }
            @if (Node.IconCssClass != null)
            {
                <span class="tree-view__node-icon --clickable @GetIconClass()"
                      aria-hidden="true"></span>
            }
            <span class="tree-view__node-text"
                  data-selector="tree-node-text"
                  title="@Node.Text">
                @Node.Text
            </span>

        </NavLink>

    </li>

    @if (IsParentNode && Node.IsExpanded)
    {
        @foreach (var child in Node.Children)
        {
            <NavTreeViewNode Node="@child"
                             OnChanged="OnChanged"
                             OnNodeClicked="OnNodeClicked"/>
        }
    }

</ul>